<div class="row">
    <div class="container">
        <h2>Number of Trains: {{trains.length}}</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="200px">Id</th>
                <th width="230px">Name</th>
                <th width="230px">Speed</th>
                <th width="230px">Diesel</th>
                <!--<th width="25%">email</th>-->
                <th width="25%">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="train in trains">
                <td><a href="#">{{train.id}}</a></td>
                <td>{{train.name}}</td>
                <td>{{train.speed}}</td>
                <td>{{train.diesel}}</td>
                <td><a class="btn btn-success" ng-click="showEditForm(train)">Edit</a>
                    <!--<a class="btn btn-danger" ng-click="removeTrain(train.id)">Delete</a></td>-->
                    <a class="btn btn-danger" title="Sure???" ng-click="removeTrain(train.id)" data-toggle="confirmation"
                       data-singleton="true" data-popout="true">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <div class="container">
            <form ng-show="addFormShow" name="myForm">
                <h3>Add train</h3>
                <div class="form-group">
                    <label>Name:
                        <input type="text" ng-model="train.name" placeholder="train name" class="form-control"/>
                    </label>
                </div>
                <div class="form-group">
                    <label>Speed:
                        <input type="number" ng-model="train.speed" placeholder="train speed" class="form-control" name="speed"/>
                    </label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="train.diesel" id="dieselCheckBox">Diesel</label>
                    <input type="submit" value="Add" class="btn btn-info" ng-disabled="!train.name || !train.speed" ng-click="addNewTrain(train)"/>
                </div>
            </form>
            <!--<form ng-show="editFormShow">-->
                <!--<h3>Edit train</h3>-->
                <!--<div class="form-group">-->
                    <!--<label>Name:-->
                        <!--<input type="text" ng-model="train.name" placeholder={{editedTrainName}} class="form-control"/>-->
                    <!--</label>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>Speed:-->
                        <!--<input type="number" ng-model="train.speed" placeholder={{editedTrainSpeed}} class="form-control" name="speed"/>-->
                    <!--</label>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                    <!--<label><input type="checkbox" ng-model="train.diesel" id="dieselCheckBox">Diesel</label>-->
                    <!--<input type="submit" value="Edit" class="btn btn-info" ng-disabled="!train.name || !train.speed" placeholder={{editedTrainDiesel}} ng-click="editTrain(train)"/>-->
                <!--</div>-->
            <!--</form>-->
        </div>
        <div class="small-12 large-2 columns">
            <a class="btn btn-primary" ng-click="showAddForm()" ng-hide="addFormShow || editFormShow">+</a>
            <a class="btn btn-primary" ng-click="hideAddForm()" ng-show="addFormShow || editFormShow">-</a>
        </div>
    </div>
</div>