<div class="row" >
    <div class="container">
        <div class="large-10 columns">
            <h2>Number of cars: {{$ctrl.cars.length}}</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="200px">Id</th>
                    <th width="230px">Name</th>
                    <!--<th width="25%">email</th>-->
                    <th width="25%">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="car in $ctrl.cars">
                    <td><a href="#">{{car._id}}</a></td>
                    <td>{{car.name}}</td>
                    <td><a class="btn btn-success" ng-click="$ctrl.showEditForm(car)" name={{car.name}}>Edit</a>
                        <a class="btn btn-danger" title="Sure???" ng-click="$ctrl.removeCar(car.name)" data-toggle="confirmation"
                           data-singleton="true" data-popout="true">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <form ng-show="$ctrl.addFormShow">
                <div class="form-group">
                    <h3>Add car</h3>
                    <label>Name:
                        <input type="text" ng-model="$ctrl.car.name" placeholder="car name" class="form-control"/>
                    </label>

                    <div>
                        <input type="submit" value="Add" class="btn btn-info" ng-disabled="!$ctrl.car.name" ng-click="$ctrl.addNewCar($ctrl.car)"/>
                    </div>
                </div>
            </form>
            <form ng-show="editFormShow && !(addFormShow)">
                <div class="form-group">
                    <h3>Edit car</h3>
                    <label>Name:
                        <input type="text" ng-model="$ctrl.car.name" placeholder={{$ctrl.editedCarName}} class="form-control"/>
                    </label>

                    <div>
                        <input type="submit" value="Edit" class="btn btn-info" ng-disabled="!$ctrl.car.name" ng-click="$ctrl.editCar(car)"/>
                    </div>
                </div>
            </form>
            <div class="small-12 large-2 columns">
                <a class="btn btn-primary" ng-click="$ctrl.showAddForm()" ng-hide="$ctrl.addFormShow || $ctrl.editFormShow">+</a>
                <a class="btn btn-primary" ng-click="$ctrl.hideAddForm()" ng-show="$ctrl.addFormShow || $ctrl.editFormShow">-</a>
            </div>
        </div>
    </div>
</div>
