<div class="row">
    <div class="container">
        <div class="large-10 columns">
            <h2>Number of cars: {{$ctrl.cars.length}}</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="200px">Id</th>
                    <th width="230px">Name</th>
                    <th width="230px">Speed</th>
                    <!--<th width="25%">email</th>-->
                    <th width="25%">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="car in $ctrl.cars">
                    <td><a href="#">{{car._id}}</a></td>
                    <td>{{car.name}}</td>
                    <td>{{car.speed}}</td>
                    <td>
                        <a class="btn btn-success" name={{car.name}} data-toggle="modal" data-target="#editModal" ng-click="$ctrl.useFieldsCurrentCar(car)">Edit</a>
                        <a class="btn btn-danger" title="Sure???" ng-click="$ctrl.removeCar(car.name)" data-toggle="confirmation" data-singleton="true" data-popout="true">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <div class="modal fade" id="addModal">
                <div class="modal-dialog" role="dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <h3>Add car</h3>
                                    <label>Name:
                                        <input type="text" ng-model="$ctrl.car.name" placeholder="car name" class="form-control"/>
                                    </label>
                                    <label>Speed:
                                        <input type="text" ng-model="$ctrl.car.speed" placeholder="car speed" class="form-control"/>
                                    </label>

                                    <div>
                                        <input type="submit" value="Add" class="btn btn-info" data-dismiss="modal" ng-disabled="!$ctrl.car.name" ng-click="$ctrl.addNewCar($ctrl.car)"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editModal">
                <div class="modal-dialog" role="dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <h3>Edit car</h3>
                                    <label>Name:
                                        <input type="text" ng-model="$ctrl.car.name" placeholder={{$ctrl.editedCarName}} class="form-control"/>
                                    </label>
                                    <label>Speed:
                                        <input type="text" ng-model="$ctrl.car.speed" placeholder={{$ctrl.editedCarSpeed}} class="form-control"/>
                                    </label>

                                    <div>
                                        <input type="submit" value="Edit" class="btn btn-info" data-dismiss="modal" ng-disabled="!$ctrl.car.name && !$ctrl.car.speed"
                                               ng-click="$ctrl.editCar($ctrl.car)"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 large-2 columns">
                <a class="btn btn-primary" data-target="#addModal" data-toggle="modal" ng-click="$ctrl.clearCarField()">Add car</a>
            </div>
        </div>
    </div>
</div>
